.title {
    font-family: 'Inter', 'sans-serif';
    font-size: 2rem;
    font-weight: 700;
    color: var(--blue);
    margin: 10px 0 2px 0;
}

.spanTitle {
    color: var(--purple);
}

.header {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    background-color: var(--gray-700);
}

.header img {
    width: 22px;
    height: 36px;
    margin: 10px 12px 2px 0;
}