.container {
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
    padding: 1rem;
    background-color: var(--gray-500);
    border: 1px solid var(--gray-400);
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
    margin: 0.75rem 0;
    font-family: 'Inter', sans-serif;
}

.checkbox {
    min-width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    border: 2px solid var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s;
}

.checkbox:hover {
    background-color: var(--blue-dark-transparent);
    border-color: var(--blue-dark);
}

.checkbox.checked {
    background-color: var(--purple-dark);
    border-color: var(--purple-dark);
    color: var(--white);
}

.checkbox.checked:hover {
    background-color: var(--purple);
    border-color: var(--purple);
}

.taskText {
    color: var(--gray-100);
    line-height: 1.4;
    flex: 1;
    margin: 0;
}

.completed {
    color: var(--gray-300);
    text-decoration: line-through;
}