.container {
    position: absolute;
    width: 100%;
}

.content {
    padding: 0 20rem;
    margin: -20px;
}

@media (max-width: 768px) {
    .content {
        padding: 0 5rem;
    }
}

@media (max-width: 480px) {
    .content {
        padding: 0 2rem;
        margin: -10px;
    }
}